body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  transition: background 0.3s, color 0.3s;
  background-color: aqua;
}

/* Themes */
.light {
  background:lightpink;
  color: #222;
}
.dark {
  background: #222;
  color: #f9f9f9;
}

/* App */
.app-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

/* Theme Toggle */
.theme-toggle {
  margin-bottom: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Task Manager */
.task-manager {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
}

/* Task List */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.task.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.task small {
  margin-left: 10px;
}

.actions button {
  margin-left: 8px;
  cursor: pointer;
}
